.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.background-image {
  background-image: url('./fundo3.png');
  background-size: cover;
  background-position: center; /* Centraliza a imagem de fundo */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  min-height: 100vh; /* Garante que o fundo cubra a altura total da tela */
}

body {
  font-family: 'Bungee', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.mensagem-container {
  margin-top: 50px;
  font-weight: 700;
  padding: 20px;
  border: 4px solid #1E90FF; /* Cor da borda atualizada */
  border-radius: 10px;
  max-width: 300px;
  max-height: 200px; /* Ajuste este valor conforme necessário */
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7); /* Fundo levemente transparente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transições suaves para efeitos */
}

.mensagem-container p.autor {
  margin-top: 1.5rem; /* Ajuste este valor para controlar o espaçamento */
}

.frase {
  font-size: 16px;
  color: #4169E1; /* Substitua #suaCorEscolhida pela cor que você deseja */
}


.autor {
  font-size: 14px;
  color: #1E90FF; /* Substitua #suaCorEscolhida pela cor que você deseja */
}

.mensagem-container:hover {
  transform: scale(1.02); /* Efeito de leve zoom ao passar o mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra mais proeminente no hover */
}

button {
  margin-top: 35px;
  padding: 5px 15px;
  line-height: 1.5; /* Ajusta o espaçamento entre as linhas */
  border: 4px solid #1E90FF; 
  border-radius: 10px;
  background-color: rgba(30, 144, 255, 0.7); /* Cor azul com transparência */
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'Bungee', cursive;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
  transition: background-color 0.3s ease, transform 0.3s ease;
}


button:hover {
  background-color: rgba(30, 144, 255, 0.7); /* Cor de hover roxa com transparência */
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


